---
const { sectionId } = Astro.props;
---

<section
  id={sectionId}
  class="py-10 px-5 max-w-4xl mx-auto bg-transparent"
>
  <div class="container mx-auto bg-transparent">
    <slot />
  </div>
</section>
