---
import SectionContainer from "../containers/SectionContainer.astro";
import { getLangFromUrl } from "@/i18n/utils";
import { projectSection } from "@/i18n/projects";
import ProjectCard from "../containers/ProjectCard.astro";

const url = new URL(Astro.url);
const lang = getLangFromUrl(url) as "en" | "es";

export interface Project {
  title: string;
  description: string;
  image: string;
  tags: string[];
  demoUrl: string;
  codeUrl: string;
  status: "completed" | "ongoing";
}

interface ProjectSection {
  title: string;
  subtitle?: string;
  buttonCode: string;
  buttonDemo: string;
  projectList: Project[];
}

const projects = projectSection[lang] as unknown as ProjectSection;
const { title, buttonCode, buttonDemo, projectList } = projects;
---

<SectionContainer sectionId="projects">
  <h2 class="text-3xl font-bold mb-8 text-center">
    <span
      class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"
    >
      {title}
    </span>
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    {
      projectList.map((project) => (
        <ProjectCard
          project={project}
          buttonCode={buttonCode}
          buttonDemo={buttonDemo}
        />
      ))
    }
  </div>
</SectionContainer>
