---
import SectionContainer from "../containers/SectionContainer.astro";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";
import ProjectCard from "../containers/ProjectCard.astro";

const url = new URL(Astro.url);
const lang = getLangFromUrl(url);
const t = useTranslations(lang);

const projects = [
  {
    id: 1,
    title: t("projects.project1.title"),
    description: t("projects.project1.description"),
    image: "",

    tags: ["Solidity", "React", "Ethers.js", "Hardhat", "IPFS"],
    demoUrl: "#",
    codeUrl: "#",
  },
  {
    id: 2,
    title: t("projects.project2.title"),
    description: t("projects.project2.description"),
    image: "",

    tags: ["DeFi", "Solidity", "React", "Web3.js", "Truffle"],
    demoUrl: "#",
    codeUrl: "#",
  },
  {
    id: 3,
    title: t("projects.project3.title"),
    description: t("projects.project3.description"),
    image: "",

    tags: ["NFT", "Marketplace", "React", "Solidity", "IPFS"],
    demoUrl: "#",
    codeUrl: "#",
  },
  {
    id: 4,
    title: t("projects.project4.title"),
    description: t("projects.project4.description"),
    image: "",

    tags: ["DAO", "Governance", "React", "Solidity", "The Graph"],
    demoUrl: "#",
    codeUrl: "#",
  },
  {
    id: 5,
    title: t("projects.project5.title"),
    description: t("projects.project5.description"),
    image: "",
    tags: ["Smart Contract", "Security", "Auditing", "Solidity"],
    demoUrl: "#",
    codeUrl: "#",
  },
  {
    id: 6,
    title: t("projects.project6.title"),
    description: t("projects.project6.description"),
    image: "/default-web3-image.jpg",
    tags: ["Layer 2", "Scaling", "Optimism", "React"],
    demoUrl: "#",
    codeUrl: "#",
  },
];
---

<SectionContainer sectionId="projects">
  <h2 class="text-3xl font-bold mb-8 text-center">
    <span
      class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"
    >
      {t("projects.title")}
    </span>
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-3.5">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</SectionContainer>
