---
import SectionContainer from "../containers/SectionContainer.astro";
import { workExperience as rawWorkExperience } from "@/i18n/workExperience";
import { getLangFromUrl } from "@/i18n/utils";
import WorkExperienceCard from "../containers/WorkExperienceCard.vue";

const url = new URL(Astro.url);
const lang = getLangFromUrl(url) as "es" | "en";

interface Job {
  id: string;
  company: string;
  link: string;
  img: string;
  imgD: string;
  title: string;
  period: string;
  city: string;
  description?: string;
  duties: string[];
}

interface WorkExperience {
  title: string;
  subtitle: string;
  dropdown: string[];
  jobList: Job[];
}

const workExperience = rawWorkExperience[lang] as unknown as WorkExperience;

const { title, subtitle, dropdown, jobList } = workExperience;
---

<SectionContainer sectionId="work-experience">
  <div class="relative">
    <!-- Decorative background element -->
    <div
      class="absolute -top-20 -left-20 w-72 h-72 bg-primary/10 rounded-full blur-3xl"
    >
    </div>

    <h2 class="text-4xl font-bold text-center mb-12">
      <span
        class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"
      >
        {title}
      </span>
    </h2>

    <div class="flex flex-col gap-6">
      {
        jobList.map((job) => (
          <WorkExperienceCard job={job} dropdown={dropdown} client:load />
        ))
      }
    </div>
  </div>
</SectionContainer>
